.form  {
	padding: 20px;
	color: white;
	width: 50%;
	text-align: center;
	margin-left: auto;
  margin-right: auto;
	/* align-items: center; Try changing this to center if you like it better! */
}
.form-input .input{
	min-width: 135px; /* Needs to be set to longest label (to keep inputs in a straight vertical line) */
	padding-right: 20px; /* This ensures a gap between label and input */
}

input{
		border: none;
    border-bottom: 1px solid #888;
		background-color: transparent;
		margin-bottom: 10px;
		color: white;
		font-family: 'Roboto Mono', monospace;
}

input:focus{
	outline:none;
}

.form-error {
	color:rgb(202, 112, 28);
}