.lifting-prep-container{
  text-align: Center;
	margin-left: auto;
  margin-right: auto;
}
.lifting-prep-content{
  padding-top: 15px;
  width: 75%;
  text-align: Center;
	margin-left: auto;
  margin-right: auto;
  font-size: 75%;
  color: white;
 }