.header-bar{
  text-align: right;
  width:95%;
  padding-top: 10px;
  }

.button {
  display: inline-flex;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	background-color: transparent;
	border: 1px;
	border-color: white;
	margin-bottom: 5px;
	border-radius: 4px;

}
.button:hover {
	color:rgb(202, 112, 28);
	border: none;
}
